{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <!-- Profile form -->
    <h1>{% blocktranslate %}Profile{% endblocktranslate %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for field in form %}
            <p><label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label> {{ field }} </p>
            <div class="form-error">{{ field.errors }}</div>
        {% endfor %}
        <p><button type="submit">{% blocktranslate %}Save{% endblocktranslate %}</button></p>
    </form>
    <!-- Password change link -->
    <p><a href="{% url 'users:password_change' %}">{% blocktranslate %}Change password{% endblocktranslate %}</a></p>
{% endblock content %}