{% extends "base.html" %}
{% load i18n %}
{% block main %}
    <!-- Add construction name -->
    <main class="container-fluid">
        {% block content %}
            <h1>{% blocktranslate %}Add construction name{% endblocktranslate %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.construction_name }}
                <button type="submit" style="width: 15%">{% blocktranslate %}Save{% endblocktranslate %}</button>
                <a href="{% url 'positions_list' user.id %}">{% blocktranslate %}Cancel{% endblocktranslate %}</a>
            </form>
        {% endblock content %}
    </main>
{% endblock main %}