{% extends "base.html" %}
{% load i18n %}
{% block main %}
    <!-- Add construction name -->
    <main class="container-fluid">
        {% block content %}
            <h1>{% blocktranslate %}Add construction{% endblocktranslate %}</h1>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {{ form.as_p }}
                <a href="#"
                   style="color: blue; text-decoration: underline; cursor: pointer;"
                   onclick="event.preventDefault(); this.closest('form').submit();">
                    {% blocktranslate %}Save{% endblocktranslate %}
                </a>
                <a href="{% url 'constructions_list' user.id %}" style="margin-left: 10px;">
                    {% blocktranslate %}Cancel{% endblocktranslate %}
                </a>
            </form>
        {% endblock content %}
    </main>
{% endblock main %}