{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <!-- Constructions list -->
    <h1>{% blocktranslate %}Constructions list{% endblocktranslate %}</h1>
    <table>
        {% for construction in constructions %}
            <tr>
                <td>
                    <h5><a href="{% url 'positions_list' user.id construction.id %}">{{ construction }}</a></h5>
                </td>
                <td><a href="{% url 'edit_construction' user.id construction.id %}">{% blocktranslate %}Edit{% endblocktranslate %}</a>
                    <a href="{% url 'delete_construction' user.id construction.id %}">{% blocktranslate %}Delete{% endblocktranslate %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h5><a href="{% url 'add_construction' user.id %}">{% blocktranslate %}Add construction{% endblocktranslate %}</a>
    </h5>
{% endblock content %}