{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <!-- Delete construction name -->
    <h1>{% blocktranslate %}Delete construction{% endblocktranslate %}</h1>
    <h4>{% blocktranslate %}Are you sure you want to delete the construction {% endblocktranslate %} "{{ construction }}"?</h4>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <a href="#"
           style="color: blue; text-decoration: underline; cursor: pointer;"
           onclick="event.preventDefault(); this.closest('form').submit();">
            {% blocktranslate %}Delete{% endblocktranslate %}
        </a>
        <a href="{% url 'constructions_list' user.id %}" style="margin-left: 10px;">{% blocktranslate %}Cancel{% endblocktranslate %}</a>
    </form>
{% endblock content %}