{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <!-- Delete position -->
    <h1>{% blocktranslate %}Delete position{% endblocktranslate %}</h1>
    <h4>{% blocktranslate %}Are you sure you want to delete the position{% endblocktranslate %}"{{ position.name }}"?</h4>
    <form method="post">
        {% csrf_token %}
        <button type="submit" style="width: 15%">{% blocktranslate %}Delete{% endblocktranslate %}</button>
        <a href="{% url 'positions_list' user.id %}">{% blocktranslate %}Cancel{% endblocktranslate %}</a>
    </form>
{% endblock content %}