{% extends "base.html" %}
{% load i18n %}
{% block main %}
    <main class="container-fluid">
{% block content %}
    <!-- Edit position -->
    <h1>{% blocktranslate %}Edit position{% endblocktranslate %}</h1>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <table>
            <thead>
            <tr>
                <th style="width: 12%">№</th>
                <th style="width: 28%">{% blocktranslate %}Name{% endblocktranslate %}</th>
                <th style="width: 20%">{% blocktranslate %}Start date{% endblocktranslate %}</th>
                <th style="width: 20%">{% blocktranslate %}End date{% endblocktranslate %}</th>
                <th style="width: 20%">{% blocktranslate %}Cost{% endblocktranslate %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <!-- Order, name, start date, end date, cost editing form fields -->
                <td>{{ form.order }}</td>
                <td>{{ form.name }}</td>
                    <div id="other_name_div" style="display: none;">
                        {{ form.other_name }}
                    </div>
                <td>{{ form.start_date }}</td>
                <td>{{ form.end_date }}</td>
                <td>{{ form.cost }}</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">{% blocktranslate %}Save{% endblocktranslate %}</button>
                </td>
                <td><a href="{% url 'positions_list' user.id construction_id %}">{% blocktranslate %}Cancel{% endblocktranslate %}</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <!-- Script to show/hide other name input -->
        <script>
            const nameSelect = document.getElementById('id_name');
            const otherNameDiv = document.getElementById('other_name_div');
            nameSelect.addEventListener('change', () => {
                if (nameSelect.value === 'other') {
                    otherNameDiv.style.display = 'block';
                } else {
                    otherNameDiv.style.display = 'none';
                }
            });
        </script>
    </form>
{% endblock content %}
    </main>
{% endblock main %}