{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <!-- Home page -->
    <h1>{% blocktranslate %}Welcome to Alen's site!{% endblocktranslate %}</h1>
    <blockquote>
        <p>{% blocktranslate %}Hello! My name is Alen. I am a qualified civil engineer with many years of experience in the construction of industrial and public buildings and structures. This site reflects my efforts to learn the Python programming language and the Django framework. This project is exclusively educational and does not pretend to be perfect. Thank you for visiting my site.{% endblocktranslate %}</p>
        {% if not user.is_authenticated %}
            <p>{% blocktranslate %}Please register to be able to save and print your Construction Financing Schedules.{% endblocktranslate %}</p>
            <p>{% blocktranslate %}Register {% endblocktranslate %}<a href="{% url 'users:register' %}">{% blocktranslate %}here{% endblocktranslate %}</a>{% blocktranslate %} or login {% endblocktranslate %}<a href="{% url 'users:login' %}">{% blocktranslate %} here{% endblocktranslate %}</a></p>
        {% endif %}
        <p>{% blocktranslate %}Link to the project on GitHub: {% endblocktranslate %}<a href="https://github.com/abaybula/constr_fin">{% blocktranslate %}Construction Financing Schedules{% endblocktranslate %}</a></p>
        <p>{% blocktranslate %}I would appreciate any feedback: {% endblocktranslate %}<a href="mailto:ebaybula@gmail.com"> ebaybula@gmail.com</a></p>
    </blockquote>
{% endblock content %}